.box {
  float:left;
  position: relative;
  width: 32%;
  height: calc(50vh - 50px);
  margin-left: calc(4% / 6);
  margin-right: calc(4% / 6);
  margin-top: 10px;
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;
  text-align: center;
}

.row {
  margin-left: 10px;
  margin-right: 10px;
}
