<div>
  <div class="row">
    <div class="box moduleContainer">
      <h3>Daily Check-Ins</h3>
    </div>
    <div class="box moduleContainer">
      <h3>Member Growth</h3>
    </div>
    <div class="box moduleContainer">
      <h3>Day Passes Used</h3>
    </div>
  </div>
  <div class="row">
    <div class="box moduleContainer">
      <h3>Days Until Membership Charge</h3>
    </div>
    <div class="box moduleContainer">
      <h3>Defaulted Payments</h3>
    </div>
    <div class="box moduleContainer">
      <h3>Most Popular Deals</h3>
    </div>
  </div>
</div>
